
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');

/* Mis variables */
:root{
    --transparente: #00000055;
    --color-primario: #FF6F61;

    --fuente-titulos: '"Cuprum", serif';
}

/* Estilos boostrap modificados */
body{
    font-family: var(--fuente-titulos);
}

.nav-link:hover, .nav-link:focus{
    background-color: var(--transparente);
    color: white;
}

.nav-link, .navbar-brand{
    color: white;
}

.btn-primary{
    background-color: var(--color-primario);
    border: 0;
    width: 100%;
    transition: all 1s;
}

.btn-primary:hover{
    color: var(--color-primario);
    background-color: white;
    border: 1px solid var(--color-primario);
    transform: scale(1.05);
}


/* Mis estilos */
.hero{
    background-image: url(../images/fondo.jpg);
    background-position: center;
}

.hero h1{
    background-color: var(--transparente);
    border-radius: 25px;
}

.fondo{
    background-color: #2C3E50;
}