$primary-color: #f4f4f4;
$text-color: #333;
$footer-bg: #d1d1d1;
$random-colors: (pink, lightgreen, lightblue, lightcoral, lightgray, lightgoldenrodyellow);
$header-bg: #e0e0e0;
$colores-aleatorios: ();
$color-tertiary: crimson;