
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 65%;
    margin: auto;
    justify-content: center;
    background-color: darkcyan;
}

.gallery img {
    flex-basis: 25%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    clip-path: polygon(15% 0%, 85% 0%, 100% 25%, 100% 75%, 85% 100%, 15% 100%, 0% 75%, 0% 25%);
    margin: 0.5em;
}



