#container{
    display: flex;
    height: 50vh;
    flex-direction: column;
    margin: 3em;
}

.media{
    display: flex;
    background-color: beige;
    flex-direction: row;
    margin-bottom: 2em;
}

.media:nth-child(2n){
    flex-direction: row-reverse;
}

img{
    width: 15vw;
    height: 15vh;
    padding: 1em;
}

.texto{
    margin: 0.5em;
}

.titulo{
    font-weight: bold;
}

