div {
    background-color: lightgray;
}

div a {
    background-color: blue;
    color: white;
}

div div div a {
    background-color: red;
    color: yellow; 
}
/* Explicación:
    -Este codigo css lo que hace es poner las etiquetas a que esten dentro de tres div con fondo rojo y colo de texto amarillo
*/
#abuelo {
    border: 1px solid blue;
}

#abuelo > div {
    border: 2px solid red;
}

.padre + p {
    background-color: limegreen;
}

.madre + p {
    background-color: lightpink;
}

a[title] {
    background-color: red;
    color: white;
}

a:not([target="_blank"]) {
    background-color: purple;
    color: white;
}
