#figura1 {
    background-color: rgb(169, 9, 169);
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
}

#figura2 {
    background-color: rgb(27, 151, 185);
    border: 5px  inset  rgb(186, 186, 32);
    width: 50px;
    height: 200px;
    margin: 30px;
    padding: 10px;
}

#figura3 {
    background-color: rgb(53, 230, 53);
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 3px dashed rgb(20, 6, 183);
    margin: 20px;
}

#figura4 {
    background-color: rgb(156, 69, 237);
    width: 25em;
    height: 10rem;
    border-radius: 50%;
    border: 0.5em dotted rgb(219, 16, 30);
    margin: 5rem;
}