div {
    border: 2px solid #333;
    background-color: #ddd;
}

p {
    font-size: 2rem;
    background-color: #888;
    width: 50%;
    margin: 2rem auto;
    text-align: center;
    padding: 0.5rem;
}

.borde {
    border: 2px solid green;
}

.contorno {
    outline: 2px solid green;
}

.clip-fondo {
    background-clip: content-box;
}

div > p {
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .borde {
        border-width: 4px;
    }

    .contorno {
        outline-width: 4px;
    }
}

@media (max-width: 767px) {
    .borde {
        border-width: 1px;
    }

    .contorno {
        outline-width: 1px;
    }
}