h1 {
    color: darkred;
    font-family: 'Georgia', serif;
}

.lista1 li {
    font-family: 'Arial', sans-serif;
}

.lista2 li {
    background-color: lightgray;
    font-family: 'Verdana', sans-serif;
    list-style-type: square;
    padding: 10px;
}

.lista3 li {
    list-style-image: url('./b970d82945bb5045e9c1151495e7e588-dise-o-de-icono-de-rect-ngulo-cruzado.png');
    font-family: 'Verdana', sans-serif;
}
