
#s1{
    margin: 2em;
    background-color:beige;
}
#s2{
    margin: 1em;
    background-color: bisque;
}
#s3{
    margin: 0.5em;
    background-color: brown;
}
#s4{
    margin: 0.25em;
    background-color: blueviolet;
}

